@import './variables.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/* Global Typography */

.h-display {
  @apply --font-bold;
  font-size: 32pt;
  letter-spacing: -0.5;
  line-height: 36pt;
  color: var(--color-rhino);
}

.h-headline {
  @apply --font-medium;
  font-size: 24pt;
  letter-spacing: 0;
  line-height: 28pt;
  color: var(--color-rhino);
}

.h-subheadline {
  @apply --font-regular;
  font-size: 18pt;
  letter-spacing: 0;
  line-height: 22pt;
  color: var(--color-rhino);
}

.h-minor {
  @apply --font-regular;
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 18pt;
  color: var(--color-rhino);
}

/* Body */

.body-drk-lg {
  @apply --font-regular;
  color: var(--color-rhino-80);
  font-size: 18pt;
  letter-spacing: 0;
  line-height: 24pt;
}

.body-lt-lg {
  @apply --font-regular;
  color: var(--color-rhino-60);
  font-size: 17pt;
  letter-spacing: 0;
  line-height: 25pt;
}

.body-drk-sm {
  @apply --font-regular;
  color: var(--color-rhino-80);
  font-size: 15pt;
  letter-spacing: 0;
  line-height: 22pt;
}

.body-lt-sm {
  @apply --font-regular;
  color: var(--color-rhino-60);
  font-size: 15pt;
  letter-spacing: 0;
  line-height: 22pt;
}

.caption-drk-lg{
  @apply --font-regular;
  color: var(--color-rhino-80);
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 18pt;
}

.caption-lt-lg {
  @apply --font-regular;
  color: var(--color-rhino-60);
  font-size: 13pt;
  letter-spacing: 0;
  line-height: 19pt;
}

/* Misc */

.tag {
  @apply --font-bold;
  color: var(--color-nepal);
  font-size: 10pt;
  letter-spacing: 0.6;
  line-height: 14pt;
  text-transform: uppercase;
}

.button {
  @apply --font-medium;
  color: var(--color-caribbean-green);
  font-size: 16pt;
  letter-spacing: 0;
  line-height: 20pt;
}

.button-sm {
  @apply --font-bold;
  color: var(--color-caribbean-green);
  font-size: 10pt;
  letter-spacing: 0.6;
  line-height: 14pt;
}

.cards {
  @apply --font-bold;
  color: var(--color-rhino);
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 20pt;
}

.timestamp {
  @apply --font-regular;
  color: var(--color-rhino-60);
  font-size: 13pt;
  letter-spacing: 0;
  line-height: 16pt;
}
