@import './variables.css';

@font-face {
  font-family: "Circular Book";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@font-face {
  font-family: "Circular Medium";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@font-face {
  font-family: "Circular Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

/* Global Typography */

.h-display {
  font-family: var(--font-family-bold);
  font-size: 32pt;
  letter-spacing: -0.5;
  line-height: 36pt;
  color: var(--color-rhino);
}

.h-headline {
  font-family: var(--font-family-medium);
  font-size: 24pt;
  letter-spacing: 0;
  line-height: 28pt;
  color: var(--color-rhino);
}

.h-subheadline {
  font-family: var(--font-family-regular);
  font-size: 18pt;
  letter-spacing: 0;
  line-height: 22pt;
  color: var(--color-rhino);
}

.h-minor {
  font-family: var(--font-family-regular);
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 18pt;
  color: var(--color-rhino);
}

/* Body */

.body-drk-lg {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-80);
  font-size: 18pt;
  letter-spacing: 0;
  line-height: 24pt;
}

.body-lt-lg {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-60);
  font-size: 17pt;
  letter-spacing: 0;
  line-height: 25pt;
}

.body-drk-sm {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-80);
  font-size: 15pt;
  letter-spacing: 0;
  line-height: 22pt;
}

.body-lt-sm {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-60);
  font-size: 15pt;
  letter-spacing: 0;
  line-height: 22pt;
}

.caption-drk-lg{
  font-family: var(--font-family-regular);
  color: var(--color-rhino-80);
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 18pt;
}

.caption-lt-lg {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-60);
  font-size: 13pt;
  letter-spacing: 0;
  line-height: 19pt;
}

/* Misc */

.tag {
  font-family: var(--font-family-bold);
  color: var(--color-nepal);
  font-size: 10pt;
  letter-spacing: 0.6;
  line-height: 14pt;
  text-transform: uppercase;
}

.button {
  font-family: var(--font-family-medium);
  color: var(--color-caribbean-green);
  font-size: 16pt;
  letter-spacing: 0;
  line-height: 20pt;
}

.button-sm {
  font-family: var(--font-family-bold);
  color: var(--color-caribbean-green);
  font-size: 10pt;
  letter-spacing: 0.6;
  line-height: 14pt;
}

.cards {
  font-family: var(--font-family-bold);
  color: var(--color-rhino);
  font-size: 14pt;
  letter-spacing: 0;
  line-height: 20pt;
}

.timestamp {
  font-family: var(--font-family-regular);
  color: var(--color-rhino-60);
  font-size: 13pt;
  letter-spacing: 0;
  line-height: 16pt;
}
