@import '../hylo-app/css/typography.css';
@import '../hylo-app/css/colors.css';

.sheet {
  composes: sheet from "../App.css";
  /* LEJ: Robbie, note, I'm being horrible here on purpose ! :) */
  padding-bottom: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.left-column {
  margin-right: 25px;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}

.title {
  font-size: 24pt;
  margin-bottom: 65px;
  color: #2C4059;
}

.section-title {
  margin-bottom: 32px;
  color: #2C4059;
  opacity: 0.6;
}

.section {
  background-color: #fafbfc;
  padding: 0px 30px 0px 30px;
  margin-bottom: 42px;
  border-radius: 6px;
  border: 1px solid #808c9b;
}

.no-border {
  border-bottom: none !important;
}

.style-card {
  composes: flex-item;

  margin-top: 32px;
  min-width: 0;
  width: auto;
  border-bottom: 1px solid #a0acbb;
}

.style-name {
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 600;
  color: #2C4059;
  opacity: 0.6;
  margin-bottom: 12px;
}

.style-attributes {
  font-size: 11pt;
  color: #2C4059;
  opacity: 0.6;
}

.style-example-header {
  margin: 35px 0;
}

.style-example-body {
  margin: 25px 0;
  max-width: 300px;
}
