@import '../../css/variables.css';

.image {
  background-position: center;
  background-size: cover;
  border-color: var(--color-white);
  /*display: inline-block;*/
  /*border-radius: 50%;*/
  /*vertical-align: middle;*/
}

.overlaps {
  margin-left: -15px;
}

.overlaps:first-child {
  margin-left: 0px;
}

.small {
  width: calc(var(--space-std) - var(--space-xs));
  height: calc(var(--space-std) - var(--space-xs));
}

.medium {
  width: var(--space-lg);
  height: var(--space-lg);
}

.large {
  width: calc(var(--space-std) + var(--space-sm));
  height: calc(var(--space-std) + var(--space-sm));
}
