.image {
  background-position: center;
  background-size: cover;
  border: solid 3px $color-white;
  width: $space-10x-base;
  height: $space-10x-base;
}

.overlaps {
  margin-left: -$space-4x-base;
}

.overlaps:first-child {
  margin-left: 0px;
}

.medium {
  width: $space-8x-base;
  height: $space-8x-base;
}

.small {
  width: $space-6x-base;
  height: $space-6x-base;
}
