@import '../../css/variables.css';

.image {
  display: inline-block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  margin-bottom: 15px;
}

.small {
  composes: image;
  width: 28px;
  height: 28px;
}

.medium {
  composes: image;
  width: 36px;
  height: 36px;
}

.large {
  composes: image;
  width: 48px;
  height: 48px;
}
