.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(($sheet-width / 2) - $space-std * 6);
  padding: $space-std 0;
  margin: 0 $space-std;
  box-sizing: border-box;
  border-bottom: $section-border-width solid #a0acbb;
  &:last-child {
    border-bottom: 0px;
  }
}

.card--no-bottom-border {
  border-bottom: 0px;
}

.name {
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 600;
  color: #2C4059;
  opacity: 0.6;
  margin-bottom: 12px;
}

.attributes {
  font-size: 11pt;
  color: #2C4059;
  opacity: 0.6;
}

.sample {
  margin-top: $space-std;
}
