@import '../css/base.global.css';

.page {
  background-color: var(--color-white);
  margin: 28px 42px;
  padding: 82px 70px;
  border-radius: 6px;
}

.title {
  font-size: 24pt;
  margin-bottom: 65px;
  color: #2C4059;
}

.section-title {
  margin-bottom: 32px;
  color: #2C4059;
  opacity: 0.6;
}

.section {
  background-color: #fafbfc;
  padding: 0px 30px 0px 30px;
  margin-bottom: 42px;
  border-radius: 6px;
  border: 1px solid #808c9b;
}

.style-card-row {
  display: flex;
  flex-direction: row;
}

.style-card-row:last-child .style-card {
  border-bottom: none;
}

.style-card {
  margin-top: 32px;
  margin-right: 80px;
  min-width: 0;
  width: auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  min-height: 200px;
  border-bottom: 1px solid #a0acbb;
}

.style-name {
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 600;
  color: #2C4059;
  opacity: 0.6;
  margin-bottom: 12px;
}

.style-attributes {
  font-size: 11pt;
  color: #2C4059;
  opacity: 0.6;
}

.style-example-header {
  margin-top: 35px;
}

.style-example-body {
  margin-top: 25px;
  max-width: 300px;
}
