@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$font-family-base: 'Poppins', sans-serif;

$root-width: 1180px;


/* sheet and section layout */
$sheet-width: calc($root-width);
$sheet-vertical-margin: 28px;
$sheet-border-radius: 6px;
$section-border-width: 1px;

/* Spacing */
$space-xl: calc($space-xs * 16);
$space-lg: calc($space-xs * 9);
$space-std: calc($space-xs * 8);
$space-sm: calc($space-xs * 3);
$space-xs: 4px;

@import './layout';
@import './typography';
