$font-family-base: 'Poppins', sans-serif;

$root-width: 1180px;

/* sheet and section layout */
$sheet-width: $root-width;
$sheet-vertical-margin: 28px;
$sheet-border-radius: 6px;
$section-border-width: 1px;

/* Spacing */
$space-xs: 4px;
$space-sm: calc(#{$space-xs} * 3);
$space-std: calc(#{$space-xs} * 8);
$space-lg: calc(#{$space-xs} * 9);
$space-xl: calc(#{$space-xs} * 16);

// @import './layout';
// @import './typography';
