@import 'normalize.css';

/*
  LEJ: It would make A LOT of sense to compose the Hylo-UI-Kit custom properties
  from the color CSS custom properties found in hylo-app. Right now it's not clear
  how to CSS Modules compose CSS custom properties.
*/

@import './variables.css';

body {
  font-family: var(--font-family-regular);
  background-color: var(--color-caribbean-green);
}
