@import './variables.css';

/* Layout ("sheet") style */

.sheet {
  background-color: var(--color-white);
  width: var(--sheet-width);
  margin: var(--sheet-vertical-margin) auto;
  padding: 82px 70px;
  border-radius: var(--sheet-border-radius);
}

.sheet__title {
  font-size: 24pt;
  margin-bottom: 65px;
  color: #2C4059;
}

.sheet__flexbox {
  display: flex;
  flex-direction: row wrap;
  &__item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    margin-right: 25px;
  }
  &__item:last-child {
    margin-right: 0;
  }
}

.section {
  margin-bottom: 42px;
  &__box {
    display: flex;
    flex-flow: row wrap;
    background-color: #fafbfc;
    border-radius: var(--sheet-border-radius);
    border: var(--section-border-width) solid #808c9b;
  }
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

/* LEJ: Can't nest and composes from a classed construted through nesting.
        Look into config or workaround...  */

.section__title {
  margin-bottom: 32px;
  color: #2C4059;
  opacity: 0.6;
}

.section__title--collapsed {
  composes: section__title;
  margin-bottom: 12px;
}
