/* Global Typography */

@font-face {
  font-family: 'Circular Book';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

.display-1, .hdr-display {
  @include font-bold;
  letter-spacing: -0.5;
  line-height: 36px;
  color: $color-rhino;
}

.h1, .hdr-headline {
  @include font-medium;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  color: $color-rhino;
}

.h2, .hdr-subheadline {
  @include font-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  color: $color-rhino;
}

.h3, .hdr-minor {
  @include font-regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: $color-rhino;
}
