/* Global Typography */

.display-1, .hdr-display {
  @include font-bold;
  letter-spacing: -0.5;
  line-height: 36px;
  color: $color-rhino;
}

.h1, .hdr-headline {
  @include font-medium;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  color: $color-rhino;
}

.h2, .hdr-subheadline {
  @include font-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  color: $color-rhino;
}

.h3, .hdr-minor {
  @include font-regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: $color-rhino;
}
