/*
  LEJ: It would make A LOT of sense to compose the Hylo-UI-Kit custom properties
  from the color CSS custom properties found in hylo-app. Right now it's not clear
  how to CSS Modules compose CSS custom properties.

  Just borrowing everything from hylo-app for now...
*/
@import '../hylo-app/css/variables.css';

:root {
  --root-width: 1156px;
  --sheet-width: calc(var(--root-width) - 120px);
  --sheet-vertical-margin: 28px;
  --sheet-border-radius: 6px;
  --section-border-width: 1px;

  /* Spacing */
  --space-xl: calc(var(--space-xs) * 16);
  --space-lg: calc(var(--space-xs) * 9);
  --space-std: calc(var(--space-xs) * 8);
  --space-sm: calc(var(--space-xs) * 3);
  --space-xs: 4px;
}
