.element__label {
  font-size: 10pt;
  font-weight: 400;
  margin-bottom: 30px;
}

.image__label {
  font-size: 10pt;
  color: $color-rhino-60;
  margin-right: 40px;
}

.imagePad {
  margin-right: 30px;
  margin-bottom: 15px;
}
