.element__label {
  font-size: 10pt;
  margin-bottom: $space-8x-base;
}

.images__card {
  margin-right: $space-18x-base;
}

.image__label {
  font-size: 10pt;
  color: $color-rhino-60;
  margin-right: $space-10x-base;
}

.imageMargin {
  margin-right: $space-10x-base;
  margin-bottom: $space-4x-base;
}

.buttons__card {
  margin-right: $space-10x-base;
}

.buttonRow {
  margin-bottom: $space-4x-base;
}

.smallButtonRow {
  margin-bottom: $space-7x-base;
}

.buttonRow--label {
  display: inline-block;
  width: $space-11x-base;
  margin-right: $space-3x-base;
  font-size: 10pt;
  color: $color-rhino-50;
}

.buttonMargin {
  margin-right: $space-5x-base;
}

.rhinoBackground {
  display: inline-block;
  background-color: $color-rhino;
}

.rhinoButtonBackground {
  composes: rhinoBackground;
  padding: 10px;
  position: relative;
  left: -10px;
}

.rhinoSkillBackground {
  composes: rhinoBackground;
}

.skillContainer {
  display: inline-block;
  padding: $space-6x-base;
  text-align: center;
  margin-right: 0;
}
