.nav {
  background-color: transparent;
  width: calc(#{$root-width} + 24px);
  padding: $space-3x-base;
  padding-bottom: 0;
  margin: 0 auto;
}

.heading {
  display: inline;
  margin-right: $space-8x-base;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.menu__item {
  display: inline;
  padding: 0 $space-3x-base;
  border-right: solid 1px white;
  &:first-child {
    padding-left: 0px;
  }
  &:last-child {
    border: 0px;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-shadow: 1px 1px $color-rhino;
    }
  }
}
