@import './css/index.css';
@import './css/layout.css';

.nav {
  padding: 20px;
}

.heading {
  composes: sheet__title from './css/layout.css';
  display: inline;
  margin-right: 10px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.menu-item {
  display: inline;
  margin-right: 10px;
}
